payslips_development_*
payslips_sales_*
payslips_marketing_*
vendor/
.vscode/
.idea/
.env
.env.local
.env.production
.env.test
.phpunit.result.cache
/build/
/node_modules/
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
composer.lock
*.log
newfile.php